service/bak/serviceClass.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tcxt.com/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceClass" targetNamespace="http://www.tcxt.com/service/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tcxt.com/service/">
      <xsd:element name="AddIdentifyResult">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddIdentifyResultResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CheckUserState">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CheckUserStateResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddIdentifyResultRequest">

        <wsdl:part name="operateid" type="xsd:string"></wsdl:part>
        <wsdl:part name="telno" type="xsd:string"></wsdl:part>
    <wsdl:part name="state" type="xsd:string"></wsdl:part>
    <wsdl:part name="fileurl" type="xsd:string"></wsdl:part>

  </wsdl:message>
  <wsdl:message name="AddIdentifyResultResponse">

    <wsdl:part name="RegisterResponse" type="xsd:boolean"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CheckUserStateRequest">

  	<wsdl:part name="telno" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CheckUserStateResponse">

  	<wsdl:part name="RegisterResponse" type="xsd:boolean"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUserStateRequest">
  	<wsdl:part name="telno" type="xsd:string"></wsdl:part>
  	<wsdl:part name="state" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUserStateResponse">
  	<wsdl:part name="RegisterResponse" type="xsd:boolean"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="serviceClass">
    <wsdl:operation name="AddIdentifyResult">
      <wsdl:input message="tns:AddIdentifyResultRequest"/>
      <wsdl:output message="tns:AddIdentifyResultResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CheckUserState">
    	<wsdl:input message="tns:CheckUserStateRequest"></wsdl:input>
    	<wsdl:output message="tns:CheckUserStateResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserState">
    	<wsdl:input message="tns:UpdateUserStateRequest"></wsdl:input>
    	<wsdl:output message="tns:UpdateUserStateResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceClassSOAP" type="tns:serviceClass">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="AddIdentifyResult">
  		<soap:operation soapAction="http://www.tcxt.com/service/AddIdentifyResult" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="CheckUserState">
  		<soap:operation soapAction="http://www.tcxt.com/service/CheckUserState" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="UpdateUserState">
  		<soap:operation soapAction="http://www.tcxt.com/service/UpdateUserState" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceClass">
    <wsdl:port binding="tns:serviceClassSOAP" name="serviceClassSOAP">
      <soap:address location="http://www.tcxt.com/service/service.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>