soap/复件 soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="soap" targetNamespace="http://localhost/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/soap/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegisterRequest">

        <wsdl:part name="username" type="xsd:string"></wsdl:part>
        <wsdl:part name="password" type="xsd:string"></wsdl:part>
        <wsdl:part name="email" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterResponse">

        <wsdl:part name="RegisterResponce" type="xsd:boolean"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="soap">
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterRequest"/>
      <wsdl:output message="tns:RegisterResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soapSOAP" type="tns:soap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://localhost/soap/Register"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="soap">
    <wsdl:port binding="tns:soapSOAP" name="soapSOAP">
      <soap:address location="http://localhost/soap/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>